<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ZooMenuDB"
			 connectionString="Data Source=DESKTOP-MH1GJKG;
                           Data Source=DESKTOP-MH1GJKG;
							Initial Catalog=ZooMenuDB;
							Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
